html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}

html{
  scrollbar-width: normal;
  scrollbar-color: #777 #555;
}

a{
  color: inherit;
  text-decoration: none!important;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  
}




html::-webkit-scrollbar{

  width: 2vw;

}

html:-webkit-scrollbar-track {
  background: #fff; 
}

html::-webkit-scrollbar-thumb {
    background: red;
    
}