.margin__image{

    margin: 0 20px;
    border: 2px solid #FFC107;

}

.customized__btn{

    margin: 0 20px;

}


@media only screen and (max-width: 991px){

    .margin__image{

        margin-top: 15px;
    
    }

    .user__prof{

        display: flex;
        flex-direction: column;
    }


    .log__out{

        padding: 10px;
        margin-top: 15px;
        height: 45px;
        width: 85px;
        margin-bottom: 10px;
    }

    .customized__btn{

        padding: 10px;
        margin-top: 15px;
        height: 45px;
        width: 85px;
        margin-bottom: 10px;

    }

    .submit__link{

        margin: 7px 0;

    }
    
}